#nuevoCodigo{
    height: 37%;
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    margin:3em 3em 1.5em 2em;
}

#nuevoCodigo ion-icon{
    width: 3em;
    height: 3em;
}
.titulo{
    text-align: center;
}
#baresGuardados{
    height: 37%;
    width: 82%;
    margin: 1.5em 3em 0em 2em;
}