<app-cabecera [title]="'Bar escaner'" [bgcolor]="'warning'">
</app-cabecera>

<ion-content>

  <div *ngIf="existenBares && !mostrarCargando">
    <div class="editarBoton">

      <ion-button fill="clear" (click)="changeBuscar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-input (ionChange)="buscar()" *ngIf="search" [(ngModel)]="nombreBuscar" id="buscarInput" type="text" class="form-control inputBuscar"
       placeholder="Buscar..."></ion-input>
      
    </div>

    <div class="orderSegment" >
      <button class="btn btn-outline-success" (click)="presentActionSheet()">Ordenar</button>
      
      <ion-segment mode="ios" (ionChange)="invertir(bares)">
  
        <ion-segment-button layout="icon-start">
          <ion-icon name="arrow-up"></ion-icon>
          <ion-icon name="text"></ion-icon>
        </ion-segment-button>

        <ion-segment-button layout="icon-start">
          <ion-icon name="arrow-down"></ion-icon>
          <ion-icon name="text"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
      
    <ion-chip class="mt-3" *ngIf="filtros.nombre" color="primary">
      <ion-label>Nombre</ion-label>
      <ion-icon name="close-circle" (click)="eliminarFiltroNombre()"></ion-icon>
    </ion-chip>

    <ion-card class="cardBar" *ngFor="let bar of baresCargados; let i= index">
      
      <ion-card-header> 
      
        <ion-card-title>
          <strong>
            {{bar.Nombre}}
          </strong>
        </ion-card-title>
        <ion-card-subtitle>{{bar.Fecha}}</ion-card-subtitle>
        <ion-button (click)="barsettings(bar,i)" fill="clear"  size="small" shape="round">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>

      </ion-card-header>

      <ion-card-content>
        <label><strong>Teléfono: </strong>{{bar.telefono}}</label><br>
        <label><strong>URL: </strong><span (click)="abrirPagina(bar.url)" class="url">{{bar.url}}</span></label><br>
        
        <ion-label><b>Valoracion</b></ion-label>

        <ion-range min="1" max="5" step="1" [value]="bar.valoracion" name="valoracion" snaps disabled color="danger">
            <ion-label slot="start">1</ion-label>
            <ion-icon slot="start" size="small" color="warning" name="star-outline"></ion-icon>
            
            <ion-label slot="end">5</ion-label>
            <ion-icon slot="end" color="warning" name="star"></ion-icon>
        </ion-range>

        
        <label><strong>Comentarios</strong></label><br>
        <p>{{bar.comentarios}}</p>

      </ion-card-content>
    </ion-card>
  </div>
  <span *ngIf="!existenBares && !mostrarCargando" class="sinDatos">
    <img src="/assets/images/JEMA GER 1751-03.jpg" alt="imagen no hay datos">
    <ion-label> NO HAY BARES GUARDADOS </ion-label>

  </span>
</ion-content>